{# @var record \wsydney76\emaillist\records\EmaillistRecord #}
{# @var site \Craft\models\Site #}

<p>
    {{ 'Your email address {email} was registered at'|t('emaillist', {email: record.email}, site.language) }}
    <a href="{{ site.baseUrl }}">{{ site.baseUrl }}</a>.
</p>

<p>
    {{ 'If that was not you, or if you do not want to receive any mailings, you can unregister at any time.'|t('emaillist', [], site.language) }}
</p>

<p>
    {{ 'In order to unregister your email, click here'|t('emaillist', [], site.language) }}:
</p>

<p>
    <a href="{{ siteUrl('emaillist/unregister', {
        email: record.email,
        list: record.list,
        verificationCode: record.verificationCode
    }, null, site.id) }}">
        {{ 'Unregister'|t('emaillist', [], site.language) }}
    </a>

</p>