
{% import '_includes/forms.twig' as forms %}


{{ hiddenInput('id', registration.id) }}

<div id="fields">
    <div class="flex-fields">
        {{ forms.textField({
            label: 'Email'|t('emaillist'),
            type: 'email',
            name: 'email',
            required: true,
            value: registration.email,
            errors: registration.errors('email'),
        }) }}

        {% set lists = collect(settings.lists) %}

        {% if registration.list and lists.doesntContain('value', registration.list) %}
            {% do lists.push({label: "#{registration.list|ucfirst} (not configured)", value: registration.list}) %}
        {% endif %}


        {{ forms.selectField({
            label: 'List'|t('emaillist'),
            type: 'text',
            name: 'list',
            required: true,
            value: registration.list,
            errors: registration.errors('list'),
            options: lists
        }) }}


        {{ forms.selectField({
            label: 'Site'|t('emaillist'),
            name: 'site',
            value: registration.site,
            required: true,
            options: craft.app.sites.allSites|map(site => {label: site.name, value: site.handle}),
        }) }}
        
        {{ forms.lightswitchField({
            label: 'Active'|t('emaillist'),
            name: 'active',
            on: registration.isNewRecord ? true :  registration.active
        }) }}

    </div>
</div>