{# @param Admodel ad Used only to get translated attribute labels #}

{% import '_includes/forms.twig' as forms %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') %}
{% do view.registerTranslations('emaillist', [
    'Date created',
    'Email',
    'List',
    'Search Emails',
    'Search',
    'Actions',
    'Delete email registrations',
    'Reload',
    'Reset',
    'Add'
]) %}


<div style="display: flex; justify-content: space-between">
    <div style="display: flex; justify-content: start">
        {# block toolbar #}
        {{ forms.selectField({
            label: 'By List'|t('emaillist'),
            id: 'listSelect',
            options:
            craft.registrations.select('list').distinct().orderBy('list').column
            |map(list => {label: list, value: list})
            |unshift({label: 'All'|t('emaillist'), value: ''})

        }) }}

        <div style="margin-left: 12px;">
            {{ forms.selectField({
                label: 'By Email'|t('emaillist'),
                id: 'emailSelect',
                options: craft.registrations.select('email').distinct().orderBy('email').column
                |map(email => {label:email, value:email})
                |unshift({label: 'All'|t('emaillist'), value: ''}),
                first:true
            }) }}
        </div>
    </div>


</div>

<div id="emaillist-vue-admin-table"></div>

<div style="margin-top: 24px; text-align: right;">
    <a class="btn" href="{{ actionUrl('emaillist/emaillist/cp-export') }}">{{ 'Export as CSV'|t('emaillist') }}</a>
</div>

{% js %}
buttons = [
    {
        label: Craft.t('emaillist', 'Reset'),
        href: 'javascript:resetEmaillistTable()'
    },
    {
        label: Craft.t('emaillist', 'Reload'),
        href: 'javascript:reloadEmaillistTable()'
    },
    {
        label: Craft.t('emaillist', 'Add'),
        icon: 'plus',
        href: '{{ cpUrl('registration/new') }}',

    },
]
{% endjs %}

{% js %}

tableDataEndpoint = 'emaillist/emaillist/table-data';

//emaillistTable = new Craft.VueAdminTable(settings);
emaillistTable = new Craft.VueAdminTable().init({
    container: '#emaillist-vue-admin-table',
    tableDataEndpoint: tableDataEndpoint,
    perPage: 12,
    deleteAction: 'emaillist/emaillist/cp-unregister',
    columns: [
        {name: '__slot:title', title: Craft.t('emaillist', 'Email'), sortField: 'email'},
        {name: 'list', title: Craft.t('emaillist', 'List'), sortField: 'list'},
        {name: 'site', title: Craft.t('emaillist', 'Site')},
        {name: 'date', title: Craft.t('emaillist', 'Date created'), sortField: 'dateCreated', dataClass: 'column-nowrap'}
    ],
    search: true,
    searchPlaceholder: Craft.t('emaillist', 'Search Emails'),
    checkboxes: true,
    actions: [
        {
            label: Craft.t('emaillist', 'Actions'),
            actions: [
                {
                    label: Craft.t('emaillist', 'Delete email registrations'),
                    action: 'emaillist/emaillist/cp-unregister',
                    ajax: true
                }
            ]
        }
    ],
    buttons: buttons,
});

filterSelectors = '#listSelect,#emailSelect';

$(filterSelectors).change(() => filterEmaillistTable());

$('#filterResetBtn').click(() => {
    resetEmaillistTable()
});

$('#addBtn').click(() => {
    const slideout = new Craft.CpScreenSlideout('emaillist/emaillist/cp-edit');
    slideout.on('submit', ev => {
        reloadEmaillistTable()
    });
    slideout.on('close', () => {
        // alert('close')
    });
})

$('#reloadBtn').click(() => reloadEmaillistTable());

function filterEmaillistTable() {
    var endpoint = tableDataEndpoint
        + '?list=' + $('#listSelect').val()
        + '&email=' + $('#emailSelect').val();

    setVueAdminTableDataEndPoint(emaillistTable, endpoint);
}

function resetEmaillistTable() {
    $(filterSelectors).val('');
    setVueAdminTableSearchTerm(emaillistTable, '');
    filterEmaillistTable();
}

function reloadEmaillistTable() {
    reloadVueAdminTable(emaillistTable);
}

// TODO: Add to global scripts
function setVueAdminTableDataEndPoint(table, endpoint) {
    // https://github.com/craftcms/cms/issues/6695#issuecomment-678684530
    table.$children[0].$props.tableDataEndpoint = endpoint;
}

function reloadVueAdminTable(table) {
    table.$children[0].reload();
}

function setVueAdminTableSearchTerm(table, term) {
    table.$children[0].searchTerm = term;
}

{% endjs %}
