{% import '_includes/forms' as forms %}

<div style="display: flex; flex-wrap: wrap; justify-content: space-between">
    <form method="post" style="display: flex; ">
        {{ actionInput('emaillist/emaillist/cp-register') }}
        {{ csrfInput() }}

        {{ forms.textField({
            label: 'Email',
            type: 'email',
            name: 'email',
            required: true,
            value: emaillistRecord.email,
            errors: emaillistRecord.errors('email'),
            first: true,
        }) }}

        {{ forms.textField({
            label: 'List',
            type: 'text',
            name: 'list',
            required: true,
            value: emaillistRecord.list,
            errors: emaillistRecord.errors('list'),
            first: true,
            fieldAttributes: {style: 'margin-left: 6px;'},
        }) }}


        {{ forms.selectField({
            label: 'Site',
            name: 'site',
            value: emaillistRecord.site,
            options: craft.app.sites.allSites|map(site => {label: site.name, value: site.handle}),
            first: true,
            fieldAttributes: {style: 'margin-left: 6px;'},
        }) }}

        <div style="margin-left: 8px; margin-top: 24px;">
            {{ forms.submitButton({
                label: 'Register email'
            }) }}
        </div>

    </form>

    <form method="post" style="margin-left: 24px; margin-top: 24px;">
        {{ actionInput('emaillist/emaillist/cp-export') }}
        {{ csrfInput() }}
        {{ forms.submitButton({
            label: 'Export as CSV'
        }) }}
    </form>
</div>

{# @var email \wsydney76\emaillist\records\EmaillistRecord #}

<form method="post" onsubmit="return confirm('Delete selected?')">
    {{ actionInput('emaillist/emaillist/cp-unregister') }}
    {{ csrfInput() }}


    <table class="table data">
        {% for email in emails %}
            <tr>
                <td>
                    {{ forms.checkbox({
                        name: "delete[]",
                        value: email.id,
                        label: email.email
                    }) }}

                </td>
                <td>
                    {{ email.list }}
                </td>
                <td>
                    {{ craft.app.formatter.asDatetime(email.dateCreated, 'php:Y-m-d H:i') }}
                </td>
                <td>
                    {{ email.site }}
                </td>
            </tr>
            {% else %}
            <p>
                Nothing found.
            </p>
        {% endfor %}
    </table>

    <p>
        {{ forms.submitButton({
            label: 'Delete selected'
        }) }}
    </p>

</form>