<form method="post" onsubmit="return confirm('Delete selected?')">
    {{ actionInput('emaillist/emaillist/cp-unregister') }}
    {{ csrfInput() }}


    <table class="table data">
        {% for email in emails %}
            <tr>
                <td>
                    {{ forms.checkbox({
                        name: "delete[]",
                        value: email.id,
                        label: email.email
                    }) }}

                </td>
                <td>
                    {{ email.list }}
                </td>
                <td>
                    {{ craft.app.formatter.asDatetime(email.dateCreated, 'php:Y-m-d H:i') }}
                </td>
                <td>
                    {{ email.site }}
                </td>
            </tr>
        {% else %}
            <p>
                Nothing found.
            </p>
        {% endfor %}
    </table>

    <p>
        {{ forms.submitButton({
            label: 'Delete selected'
        }) }}
    </p>

</form>